*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
    
}

.icon-home{
    height: 2.2rem;
    margin: 0.5rem;
    margin-left: 2rem;
}
.logo-nav {
    height: 3rem;
    margin-left: 3rem;
}
body{
    display: grid;
    grid-template-rows: auto 1fr auto;
    align-items: center;
    min-height: 100vh;
    background-color: rgb(247, 248, 248);
    font-family: 'Roboto Condensed', sans-serif;
}

nav{
    display: flex;
    align-items: center;
    background-color:  rgb(41, 41, 41);
    height:4em;
}

.content-body{
    min-height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;   
    background-color: rgb(239, 241, 241);
}

footer{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    align-items: center;
    align-content: center;
    justify-items: center;
    background-color: rgb(41, 41, 41);
    height:10vh;
    font-family: 'Kanit', sans-serif;
    font-weight: 300;
}

footer span { 
    color: white;
    font-size: 1.5em;
}

footer img {
    height: 3rem;
    
}